.modal-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  /* width: 600px; */
  /* height: 600px; */
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3)
}


.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  background-color: white;
  height: 90vh;
  width: 50vw;
  border-top: 10px solid rgba(0,0,0,0.5);
  border-radius: 3px;
}
.modal > *  {
  margin: 0 8% 0 8%;
}
.modal-color {}
.modal-title{
  font-size: 20px;
  font-style: italic;
  flex: 1;
}
.modal-body {
  margin-top: 20px;
  font-size: 12px;
  flex: 4;
}
.modal-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex: 1; */
  align-self: flex-end;
}
.modal-button-container button{
  width: 90px;
}
.cancel {
  background-color: grey;
}